* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

h2 {
	display: inline-block;
	margin-left: 25px;
	text-decoration: underline;
	color: rgb(25, 35, 119);
	font-family: 'Gravitas One', cursive;

}
h3 {
	display: inline-block;
	margin-top: 50px;
	font-family: 'Gravitas One', cursive;
	color: pink


}
button {
	display: block;
	margin-top: 100px;
	width: 400px;
	height: 75px;
	font-size: 20px;
}

button:hover {
	background-color: gray;

}


body {
	background-color: rgb(79, 88, 224);
}
h1 {
	font-family: 'PT Mono';
	margin-top: 20px;
	font-size: 40px;
	color: #fff;
}









